{% extends 'base.html.twig' %}

{% block menu %}
    {% for s in sections %}
        <a href="{{ path("sections",{ 'id': s.id }) }}">{{ s.thetitle }}</a> -
    {% endfor %}<hr/>
{% endblock %}
{% block titre %}
    <h1>Musique Moderne</h1>
{% endblock %}
{% block content %}
    {% for a in articles %}
        <h3>{{ a.thetitle }}</h3>
        <hr/>
        <h5>{# Si il y a des sections (pas vide) #}
            {% if not a.section.empty %}
                {% for c in a.section %}
                    <a href="{{ path("sections",{ 'id': c.id }) }}">{{ c.thetitle }}</a>
                {% endfor %}
            {% endif %}</h5><hr/>
        <p>{{ a.thetext }}</p>
       <strong> <p>Posté le {{ a.thedate|date("d-m-Y") }} à {{ a.thedate|date("H:i:s") }}, par {{ a.FosUser.username }}</p></strong>
    {% endfor %}
{% endblock %}
