{% extends 'base.html.twig' %}

{% block content %}
    {% for message in app.flashes('error') %}
        <div class="btn btn-danger btn-lg btn-block">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Articles list</h1>
<div class="table-responsive">
<table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Thetitle</th>
                <th>Thetext</th>
                <th>Thedate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('admin_article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                <td>{{ article.thetitle }}</td>
                <td>{{ article.thetext }}</td>
                <td>{% if article.thedate %}{{ article.thedate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul style="list-style-type: none;" >
                        <li>
                            <a href="{{ path('admin_article_show', { 'id': article.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_article_edit', { 'id': article.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <ul style="list-style-type: none;" >
        <li>
            <a href="{{ path('admin_article_new') }}">Create a new article</a>
        </li>
    </ul>
{% endblock %}
