{% extends 'base.html.twig' %}

{% block content %}
    <h1>Article</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Thetitle</th>
                <td>{{ article.thetitle }}</td>
            </tr>
            <tr>
                <th>Thetext</th>
                <td>{{ article.thetext }}</td>
            </tr>
            <tr>
                <th>Thedate</th>
                <td>{% if article.thedate %}{{ article.thedate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul style="list-style-type: none;">
        <li>
            <a href="{{ path('admin_article_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_article_edit', { 'id': article.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
